{% assign entries = site[include.collection] %}

{% if entries %}
  {% if include.sort_by %}
    {% assign entries = entries | sort: include.sort_by %}
    {% if include.sort_order == 'reverse' %}
      {% assign entries = entries | reverse %}
    {% endif %}
  {% else %}
    {% assign entries = entries | sort: "order" %}
  {% endif %}

  {%- for entry in entries -%}
    {% include entry.html %}
  {%- endfor -%}

{% else %}
  <p>No entries found for collection: {{ include.collection }}</p>
{% endif %}

