---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

/* Center homepage and page titles */
.page-header h1,
.site-title {
  text-align: center;
}

/* Set fonts to Arial */
.site-title {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.page-header h1,
.post-title {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.page-content h3 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center; /* keep your section headers centered */
}
